.why-us {
      padding: 50px 0;

    background: url("/assets/img/bg-12.jpg");
    background-size: cover;

    .img-why {
        position: relative;

        img {
            width: 100%;
        }

        .overllay {
            z-index: 3;
            @include overllay;
            background: linear-gradient(90deg, rgba($secColor, 0.7), rgba($secColor, 0.3))
        }
    }

    h1.mainFont {
        line-height: 52px;
        font-size: 37px;
        margin: 16px 0;
        position: relative;
        color: $thirdColor;

        &::before {
            content: " ";
            position: absolute;
            left: -10px;
            top: 2px;
            width: 7px;
            height: 50px;
            background: $secColor;
        }

    }

    .why-desc {
        font-family: $secFont;
        color: rgb(157, 144, 135);
        font-size: 14px;
        margin-bottom: 15px;
    }

    

}
